[DEFAULT]

; change these to your data paths
datadir = /home/aptikal/wangming/Mask-Align
train_input = ['${datadir}/train.src', '${datadir}/train.tgt']
valid_input = ['${datadir}/valid.src', '${datadir}/valid.tgt']
vocab = ['${datadir}/vocab.train.src.txt', '${datadir}/train/deen/vocab.train.tgt.txt']
test_input = ['${datadir}/test.src', '${datadir}/test.tgt']
test_ref = ${datadir}/test/enfr.trial.talp

; change these to your experiment directory
; all results are saved in the directory [output]
exp_dir = exp
label = agree_deen
output = ${exp_dir}/${label}

; change these to match your own machine configuration
; the actual training 36k = batch_size * update_cycle * len(device_list)
batch_size = 9000
update_cycle = 1
device_list = [0,1,2,3]
half = True

; model configuration
; the hyperparameters [alpha, beta, lamb, th] are same as described in the paper
model = mask_align
agree_alpha = 5
entropy_loss = True
entropy_beta = 1
renorm_lamb = 0.05
extract_th = 0.2
eval_plot = True

[small_budget]
exp_dir = small_budget_exp
label = small_budget
output = ${exp_dir}/${label}

batch_size = 4500
update_cycle = 8
device_list = [0]
half = False